body {
     background: url('./img/1.jpg') fixed;
    background-size: cover;
    background-position: center;
    height: 97%;
}

*[role="form"] {
    max-width: 530px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 0.3em;
    background-color: #ffffff;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #18d26e;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

