{% extends 'myapp/NewBase.html'%}
{% load staticfiles %}
{% block body %}

<link rel="stylesheet" href="{% static 'NewDesign/IndexStyle.css' %}" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{% static 'NewDesign/NewUploadImg.css' %}">





    <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static 'NewDesign/img/1.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Welcome to Diabetic Retinopathy Classification <br> System</h2>
                <p>A system that helps you to check your retina easily.</p>
                  {% if user.username != "" %}
                <a href="#modaluploadForm" data-toggle="modal" class="btn-get-started ">Check me up</a>
                  {% endif %}
              </div>
            </div>
          </div>

        <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'NewDesign/img/blindness.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Diabetic Retinopathy Dangers</h2>
                  <p><strong>Diabetic Retinopathy (DR)</strong> is the fastest growing cause of blindness, with nearly 415 million diabetic patients at risk worldwide. If caught early, the disease can be treated; if not, it can lead to irreversible blindness.</p>
              </div>
            </div>
          </div>



         <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
    </div>
  </section><!-- #intro -->

<!--==========================
      About Section
    ============================-->
   <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p><strong>A Group of Computer Science Bioinformatics Program Ain Shams University Students</strong>
Developed a diagnostic System to automate DR screening. Referral of eyes with DR to an ophthalmologist for further evaluation and treatment would aid in reducing the rate of vision loss, enabling timely and accurate diagnoses..</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'NewDesign/img/about-mission.jpg' %}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
			  Is to deliver you a full system that can perfectly detect and classify the DR disease of an image under any condition.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'NewDesign/img/about-plan.jpg' %}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p>
                Is to develop a digital -clinic alike- system that facilitates th communication between patients and doctors.
			  </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'NewDesign/img/about-vision.jpg' %}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                Is that anyone can use our FREE website to check on himself so reduce the risks of DR disease around the world.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->




<!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Facts</h3>
          <p>Here are some facts about DR disease </p>
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up"> 7.5 </span><label>Billion</label>
            <p><strong>People in the World</strong></p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">420</span><label>Million</label>
            <p><strong>Diabetic People</strong></p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">45</span><label>Million</label>
            <p><strong>Have vision-threatning DR</strong></p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">145</span><label>Million</label>
            <p><strong>Have some form of DR</strong></p>
  				</div>

  			</div>

        <div class="facts-img">
          <img src="{% static 'NewDesign/img/DRfacts.jpg' %}" alt="" class="img-fluid">
        </div>

      </div>
    </section><!-- #facts -->



    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3><br>Our Sponsor</h3>
        </header>
        <img src="{% static 'NewDesign/img/Microsoft.png' %}" alt="" style="margin-left: auto; margin-right: auto; width: 300px; height: 170px; display: block;" >
{#          <div class="carousel-container">#}
{#              <div class="carousel-item">#}
{#          <img src="{% static 'NewDesign/img/Microsoft.png' %}" alt="" >#}
{#                  </div>#}
{#        </div>#}
{#        <div class="owl-carousel clients-carousel">#}
{#          <img src="{% static 'NewDesign/img/Microsoft.png' %}" alt="" >#}
{#        </div>#}
      </div>
    </section><!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->



	 <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>You can contact us by any of the following</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>El-Khalyfa El-Mamoun Street Abbasya, 
Cairo , Egypt</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">01113294354</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">graduationprojectdr@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->






  <!--- img upload-->
 <div class="modal fade" id="modaluploadForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog cascading-modal" role="document" >
				<!--Content-->
				<div class="modal-content ">

						<!--Modal cascading tabs-->
						<div class="modal-c-tabs" style="opacity: 50% !important;">



							<!-- Tab panels -->
							<div class="tab-content" >
								<!--Panel 7-->
								<div class="tab-pane fade in show active" id="panel7" role="tabpanel">

									<!--Body-->
									<div class="col-12 user-img">

											<img src="{% static 'NewDesign/img/photo.png' %}" style="border-radius: 0px!important; box-shadow: 0px 0px 0px #ffffff !important; margin-left: 5cm!important;">
                                        <h3 style="color: #18d26e !important;">Upload Image</h3>


								</div>


								<form class="col-12" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

										<label class="btn1 col-12" type="submit" style="background-color: #18d26e !important;">Upload<input type="file" id="img-input" name="image" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow:hidden;"></label>
                                    <button type="submit" class="btn1 col-12" style="background-color: #18d26e !important;" >Classify</button>

								</form>

						</div><!---- end of modal content-->

								</div>
								<!--/.Panel 7-->
							</div>

						</div>
					</div>
					<!--/.Content-->

				</div><!-- col-2 -->

				</div><!-- row -->
		</div>
</div><!-- container -->
<!---end img upoad-->





  </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="{% static 'NewDesign/js/uploadimg.js' %}"></script>

{% endblock %}
